@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: black;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 30px;
  position: absolute;
  transition: 0.6s;
  z-index: 3;
  top: 0;
  left: 0;
}

.nav-items {
  display: flex;
  position: relative;
  align-items: center;
}

.nav-item {
  color: black;
  font-size: 0.9em;
  font-weight: bold;
  margin-left: 30px;
  position: relative;
  text-transform: uppercase;
}
.nav-item::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: #000; /* Adjust the color as needed */
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: width 0.5s ease;
  border-radius: 20px;
}

.nav-item:hover::after {
  width: 100%;
}

.logo {
  font-size: 2em;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  transition: 0.6s;
}

.btn {
  padding: 8px 24px;
  border: 2px solid black;
  margin-left: 30px;
  border-radius: 20px;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  background-color: transparent;
  font-size: 0.9em;
  color: black;
  text-transform: uppercase;
  transition: background-color 0.5s, color 0.5s;
}

.btn:hover {
  background-color: black;
  color: white;
}

/* WHEN SCROLLED */

header.sticky {
  padding: 12px 50px;
  background: black;
  position: fixed;
}

header.sticky .logo {
  color: white;
}
header.sticky .nav-item {
  color: white;
}

header.sticky .btn {
  color: white;
  border: 2px solid white;
  background-color: black;
}

header.sticky .btn:hover {
  background-color: white;
  color: black;
}

header.sticky .nav-item::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: #fff;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: width 0.5s ease;
  border-radius: 20px;
}

header.sticky .nav-item:hover::after {
  width: 100%;
}
